{% extends "base.html" %}
{% load static %}

{% block title %}
  HH Analytics
{% endblock %}

{% block topbar %}
  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="{% url 'hhmain:login' %}">
      <i class="fas fa-fw"></i>
      <span>Войти</span></a>
    </ul>

  </nav>
  <!-- End of Topbar -->
{% endblock %}

{% block maincontent %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-5 col-md-6 mb-3 offset-3 ">
            <p>У каждого, кто когда-нибудь искал работу всегда возникали два вопроса.
              Сколько стоят на рынке те навыки и умения, которыми он владеет и
              какие навыки и умения востребованы на рынке в данный момент. На все эти
              вопросы Вам поможет найти ответы этот сайт. Успехов!
            </p>
            </div>
          </div>
          <!-- Content Row -->
          <div class="row">
            <div class="offset-3">
              <img src="{% static 'img/KakRabotal.jpg' %}">
            </div>
          </div>
            <!-- Content Column -->
        </div>
        <!-- /.container-fluid -->
{% endblock %}
