{% extends "base.html" %}
{% load static %}

{% block title %}
  HH Analytics
{% endblock %}


  <div class="container">

    {% block maincontent %}
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="figure-img offset-0 col-lg-7">
                <a href="{% url 'hhmain:index' %}">
                  <img src="{% static 'img/Bditelnost.jpg'%}">
                </a>
              </div>
              <div class="col-lg-5">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Добро пожаловать!</h1>
                  </div>
                  <form class="user" method="post">
                      {% csrf_token %}
                      <p>{{ form.username }}</p>
                      <p>{{ form.password }}</p>
                    <button type="submit" placeholder="Войти" class="btn btn-primary btn-user btn-block">
                      Войти
                    </button>
                  </form>
                  {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                  </div>
                  {% endfor %}
                  <br>
                  <div class="text-center">
                    <a class="small" href="{% url 'hhmain:register' %}">Создать учетную запись!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      {% endblock %}

    </div>

