{% extends "base.html" %}

{% block title %}
  HH Analytics
{% endblock %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        {% block maincontent %}
        <!-- Begin Page Content -->
        <div class="container-fluid min-vh-100" >
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-900">Результаты запроса</h1>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <h class="h5 text-gray-900">Топ 10 навыков взятых из описания вакансии</h>
                            {% for item in sum_descriptions %}
                                <li>{{ item }}</li>
                            {% endfor %}
                          <br>
                          <h class="h5 text-gray-900">Топ 10 умений взятых из ключевых навыков</h>
                            {% for item in sum_keyskills %}
                                <li>{{ item }}</li>
                            {% endfor %}
                          <br><br>
                          <h class="h5 text-gray-900">Средние значения зарплат</h>
                            {% for item in sum_salaries %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        {% endblock %}
   </div>
</div>
<!-- End of Main Content -->

